 
<div>
  <ul class="nav nav-pills nav-justified">
    <li class="nav-item">
      <%= link_to "Posts", user_path(@user.username), class: "nav-link" %>
    </li>

    <li class="nav-item">
      <%= link_to "Liked Photos", liked_path(@user.username), class: "nav-link" %>
    </li>

    <li class="nav-item">
      <%= link_to "Feed", feed_path(@user.username), class: "nav-link" %>
    </li>

    <li class="nav-item">
      <%= link_to "Followers", followers_path(@user.username), class: "nav-link" %>
    </li>

    <li class="nav-item">
      <%= link_to "Following", following_path(@user.username), class: "nav-link" %>
    </li>

  </ul>

</div>

<% @user.leaders.each do |user| %>
  <ul class="list-group">
    <li class="list-group-item"><%= link_to user.username , user_path(user.username), class: "nav-link" %></li>
  </ul>
<% end %>
